<%- include('../partials/ngo/header') %>
<div class="content">
    <% if(message !== null && messageType !== null && messageType === "Success"){ %>
    <div class="alert alert-success" role="alert">
        <%=message%>
    </div>
    <%  } else if(message !== null && messageType!== null && messageType === "Fail" ){ %>
    <div class="alert alert-danger" role="alert">
        <%=message%>
    </div>
    <%}%>
    <div class="form-layout1">

        <div class="inner-form">
            <h1>Add Branch</h1>
            <div class="container">

                <form action="/ngoBranch" method="post">
                    <div class="form-group">


                        <div class="form-group row">
                            <label for="area">Area</label>
                            <input type="text" name="area" id="area" required  class="form-control">
                        </div>
                        <div class="row row-cols-2 justify-content-between">
                            <div class="form-group row">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" required class="form-control">
                            </div>
                            <div class="form-group row">
                                <label for="state">State</label>
                                <input type="text" name="state" id="state" required class="form-control">
                            </div>
                        </div>
                        <span style="color: red; font-weight: bold"><%= err%></span>

                    </div>
                    <button style="margin-left:44rem;background-color: #045762" type="submit"  class="btn btn-primary">Register</button>

                </form>

            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>